<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="phone.gym.jkcq.com.socialmodule">

    <application
        android:name=".SocialApplication"
        android:allowBackup="true"
        android:icon="@drawable/default_avatar_picture"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/FriendAppTheme"
        tools:replace="android:allowBackup">
        <activity android:name=".activity.FriendQRCodeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.FriendSearchActivity">

        </activity>
        <activity android:name=".activity.ScanActivity"></activity>
        <activity android:name=".activity.FansActivity" />
        <activity android:name=".personal.Personalhomepage" />
        <activity android:name=".report.FriendMainReportActivity"/>
        <activity android:name=".personal.EditUserInfo" />
        <activity android:name=".personal.FriendActivityImageShow" />
        <activity android:name=".activity.FollowActivity" />
        <activity android:name=".activity.FriendActivity" />
    </application>

</manifest>